<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style media="screen">
      .copyright{
        text-align: center;
        background-color: #6c757d
        padding:500px;
      }
      head{
        background-color: #6c757d
      }
    </style>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1 class="title" style="padding-top: 100px;">TravelYourself</h1>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Have an account?</h3>
            {%block content%}
		      	<form action="#" class="signin-form" method="POST">
                {% csrf_token %}
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Username" required="" name="username">
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" placeholder="Password" required="" name="password">
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" onclick="{% url 'login'%}" class="form-control btn btn-primary submit px-3" >Sign In</button>
	            </div>
	            <div class="form-group d-md-flex">
	            </div>
	          </form>
	          <p class="w-100 text-center">— OR —</p>
	          <div class="social d-flex text-center">
	          	<a href="http://localhost:8000"  class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>Go To Register</a>
	          </div>

						{{form.non_field_errors}}
            {% endblock %}
		      </div>
				</div>
			</div>
		</div>
	</section>
	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  </body>
  <footer>
    <h5 class="copyright">©️TravelYourself</h5>
  </footer>
</html>
